.Weather {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  max-width: 41rem;
  margin: 30px auto;
}
.card {
  margin-bottom: 0;
}
.Weather form {
  text-align: center;
}
.Weather input {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 18px;
  padding-left: 10px;
}

.Weather .city-input {
  background-color: transparent;
  border: solid;
  border-color: #faefeb;
  border-width: 1px;
  border-radius: 4px;
  color: #336e8c;
  margin-right: 5px;
  width: 200px;
}
.Weather .submit {
  background-color: #336e8c;
  border: solid;
  border-color: #faefeb;
  border-radius: 4px;
  transition: ease-in-out 200ms;
  color: #faefeb;
  box-shadow: 2px 2px 5px #336e8c;
  border-width: 1px;
  width: 70px;
}
.Weather .submit:hover {
  background-color: #faefeb;
  color: #336e8c;
}
.Weather .location-button {
  background-color: #336e8c;
  border: solid;
  border-color: #faefeb;
  border-radius: 4px;
  transition: ease-in-out 200ms;
  color: #faefeb;
  box-shadow: 2px 2px 5px #336e8c;
  border-width: 1px;
  padding: 1px 6px 4px;
}
.Weather .location-button:hover {
  background-color: #faefeb;
  color: #336e8c;
}
.Weather .arrow {
  position: relative;
  top: 2px;
}

.Weather .current-city {
  text-transform: capitalize;
  margin-top: 10px;
  font-size: 50px;
}
.Weather .current-time {
  margin: 0;
  font-size: 26px;
}
.Weather .current-weather {
  color: #336e8c;
  text-align: center;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 20px;
}
.Weather .current-temp {
  position: relative;
  left: 40px;
  font-size: 65px;
  margin-top: 30px;
  margin-bottom: 0;
  line-height: 20px;
}
.Weather .current-temp .active {
  cursor: default;
  font-size: 40px;
  position: relative;
  top: 10px;
}
.Weather .current-temp .active:hover {
  color: #336e8c;
  text-decoration: none;
}

.Weather .conditions {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}
.Weather .change-unit {
  font-size: 25px;
  position: relative;
  top: -30px;
}
.Weather .unit {
  text-decoration: none;
  color: #336e8c;
  border: none;
  background: transparent;
}
.Weather .unit:hover {
  text-decoration: underline;
  color: #a9bbc9;
}
.Weather .sky-description {
  text-transform: capitalize;
  font-size: 30px;
}
.Weather .current-high-low {
  font-size: 25px;
}
.Weather canvas {
  line-height: 0;
  margin-top: 10px;
}
.Weather .weekly-weather {
  color: #336e8c;
  font-family: "Yanone Kaffeesatz", sans-serif;
  padding: 0;
  text-align: center;
  top: 20px;
  background-color: transparent;
  box-shadow: 2px 2px 5px;
}
.Weather .weather-details {
  font-weight: 600;
}
.Weather .open-source-link {
  color: #336e8c;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 18px;
}
.Weather .weekly {
  padding: 0;
  margin-bottom: 0;
  font-size: 30px;
  line-height: 60px;
}

.Weather .forecast-icon {
  width: 50px;
}
.Weather .forecast-card {
  padding: 16px 0 16px;
}
.Weather .loading {
  margin-left: 100px;
}
.footer {
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: #336e8c;
  font-size: 20px;
}
.github-link {
  color: #336e8c;
}
.github-link:hover {
  text-decoration: none;
  color: #b7e2f6;
}
@media (max-width: 330px) {
  .Weather .weekly {
    font-size: 25px;
  }
}
